
div{
    padding : 5px;
    margin: 5px;
    border: solid 1px black;
    width: fit-content;

}
.color{
    background: green;
    color: azure;

    font-size: 200px;
}
.block
{
    display: none;
}